.image-picker {
  align-items: stretch;
}

.image-picker::part(native) {
  flex-direction: column;
  align-items: stretch;
}

.image-picker ion-label {
  width: 100%;
  margin-bottom: 8px;
}

.image-preview {
  display: block;
  margin: 8px auto 0;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 12px;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ion-list, form {
  background : none
}
