

.app-version {
  display: block;
  margin-top: 24px;
  text-align: center;
  font-size: 0.8rem;
}

.logout-button {
  margin-top: 32px;
}

.season-cards {
  display: grid;
  gap: 12px;
}

.season-cards ion-card {
  margin: 0;
//   --background: var(--ion-color-primary);
}

.season-cards ion-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.season-cards ion-card-content ion-icon {
  flex: 0 0 auto;
  color: var(--ion-color-primary);
  font-size: 1.25rem;
}

.season-cards h2 {
  margin: 0;
//   color: white;
}
