  <section align=center>
    <p align="right" >
      <ion-button fill="clear"  routerLink="/signup">
          Créer un compte
        </ion-button>
    </p>

      
    <img class="logo" align=center src="assets/image/logo-asptt-grande.png" alt="ASPTT" />
  </section>
  
    <section class="ion-padding">
      <p >
      <ion-text color="secondary">
        Se connecter
      </ion-text>
      </p>
      <ion-item>
          <ion-icon name="person-outline" slot="start"></ion-icon>

        <ion-input type="email" [(ngModel)]="email" autofocus="true" placeholder="Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start" ></ion-icon>
        <ion-input type="password" [(ngModel)]="password" placeholder="Mot de passe"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="signInEmail()" [disabled]="loading || !canSignInEmail" >Connexion</ion-button>
      <ion-button class="signup-link" fill="clear" expand="block" routerLink="/inscription">
        Mot de passe oublié ?
      </ion-button>

 
      </section>
      <section class="ion-padding">
         <ion-button expand="block" (click)="signInGoogle()" [disabled]="loading">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          Google</ion-button>
  <!-- <ion-button expand="block" (click)="signInApple()" [disabled]="loading">
    <ion-icon slot="start" name="logo-apple"></ion-icon>
    Apple</ion-button> -->
</section>

