<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="seasonId ? '/saisons/' + seasonId + '/paiements' : '/saisons'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ editing ? 'Modifier le paiement' : 'Nouveau paiement' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #paymentForm="ngForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-input
          type="date"
          label="Date"
          labelPlacement="stacked"
          name="date"
          [(ngModel)]="payment.date"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="text"
          inputmode="decimal"
          label="Montant"
          labelPlacement="stacked"
          name="amount"
          [(ngModel)]="payment.amount"
          required
          placeholder="Ex. 80 EUR">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-select
          label="Joueur"
          labelPlacement="stacked"
          name="playerId"
          [(ngModel)]="payment.playerId"
          required
          interface="popover">
          <ion-select-option *ngFor="let user of users" [value]="user.id">
            {{ user.firstName || user.lastName ? (user.firstName + ' ' + user.lastName) : (user.name || user.email || user.id) }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Commentaire"
          labelPlacement="stacked"
          name="comment"
          [(ngModel)]="payment.comment">
        </ion-textarea>
      </ion-item>

    </ion-list>

    <ion-text color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="paymentForm.invalid || saving">
      <ion-spinner *ngIf="saving" name="crescent"></ion-spinner>
      <span *ngIf="!saving">{{ editing ? 'Enregistrer les modifications' : 'Créer le paiement' }}</span>
    </ion-button>
  </form>
</ion-content>
