<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="seasonId ? '/saisons/' + seasonId + '/paiements' : '/saisons'"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ editing ? 'Modifier le paiement' : 'Nouveau paiement' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #paymentForm="ngForm" (ngSubmit)="submit()">
    <ion-list>
      <ion-item>
        <ion-icon name="calendar-outline" slot="start"></ion-icon>
        <ion-input
          type="date"
          labelPlacement="stacked"
          name="date"
          [(ngModel)]="payment.date"
          placeholder="Date"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="cash-outline" slot="start"></ion-icon>
        <ion-input
          type="text"
          inputmode="decimal"
          labelPlacement="stacked"
          name="amount"
          [(ngModel)]="payment.amount"
          required
          placeholder="Montant">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-select
          labelPlacement="stacked"
          name="playerId"
          [(ngModel)]="payment.playerId"
          placeholder="Sélectionnez un joueur"
          required
          interface="popover">
          <ion-select-option *ngFor="let user of users" [value]="user.id">
            {{ user.firstName || user.lastName ? (user.firstName + ' ' + user.lastName) : (user.name || user.email || user.id) }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-textarea
          label="Commentaire"
          labelPlacement="stacked"
          name="comment"
          [(ngModel)]="payment.comment">
        </ion-textarea>
      </ion-item>

    </ion-list>

    <ion-text color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>

    <ion-button
      expand="block"
      type="submit"
      [disabled]="paymentForm.invalid || saving">
      <ion-spinner *ngIf="saving" name="crescent"></ion-spinner>
      <span *ngIf="!saving">{{ editing ? 'Modifier' : 'Créer' }}</span>
    </ion-button>
  </form>
</ion-content>
