<ion-header>
  <ion-toolbar color="primary">
    
    <ion-title>Classement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let player of ranking; let position = index">
      <ion-label>
        <h2>{{ position + 1 }}. {{ player.name }}</h2>
        <p>Amendes : {{ player.finesTotal | currency:'EUR':'symbol':'1.0-0' }} · Paiements : {{ player.paymentsTotal | currency:'EUR':'symbol':'1.0-0' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="loading" class="list-skeleton" aria-label="Chargement du classement">
    <ion-item *ngFor="let item of [1, 2, 3, 4, 5]">
      <ion-label>
        <h2><ion-skeleton-text [animated]="true" style="width: 48%"></ion-skeleton-text></h2>
        <p><ion-skeleton-text [animated]="true" style="width: 82%"></ion-skeleton-text></p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
