// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: rgb(16, 92, 17);
	--ion-color-primary-rgb: 16, 92, 17;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: rgb(14, 81, 15);
	--ion-color-primary-tint: rgb(34, 106, 35);
    --ion-color-secondary: rgb(255, 255, 255);
	--ion-color-secondary-rgb: 255, 255, 255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: rgb(14, 81, 15);
	--ion-color-secondary-tint: rgb(34, 106, 35);
}
